language: php

php:
  - 7.2
  - 7.3

dist: trusty

services:
  - mysql

env:
  matrix:
    - DB=mysql db_dsn='mysql://root@0.0.0.0/cakephp_test' quoteIdentifiers=false
    - DB=pgsql db_dsn='postgres://postgres@127.0.0.1/cakephp_test' quoteIdentifiers=true
    - DB=pgsql db_dsn='postgres://postgres@127.0.0.1/cakephp_test' quoteIdentifiers=false
    - DB=sqlite db_dsn='sqlite:///:memory:' quoteIdentifiers=false
  global:
    - DEFAULT=1

matrix:
  fast_finish: true

before_install:
  - if [[ $TRAVIS_PHP_VERSION != 7.3 ]]; then phpenv config-rm xdebug.ini; fi

  - if [ -n "$GH_TOKEN" ]; then composer config github-oauth.github.com ${GH_TOKEN}; fi;

  - if [ $DB = 'mysql' ]; then mysql -u root -e 'CREATE DATABASE cakephp_test;'; fi

  - if [ $DB = 'pgsql' ]; then psql -c 'CREATE DATABASE cakephp_test;' -U postgres; fi

  - phpenv rehash
  - set +H

before_script:
  - sh -c "composer update --prefer-dist --no-interaction --prefer-lowest"

script:
  - if [[ $DEFAULT = 1 && $TRAVIS_PHP_VERSION = 7.* ]]; then export CODECOVERAGE=1 ; phpdbg -qrr vendor/bin/phpunit --coverage-clover=clover.xml; fi
  - if [[ $DEFAULT = 1 && $TRAVIS_PHP_VERSION != 7.* ]]; then vendor/bin/phpunit; fi

after_success:
  - if [[ $DEFAULT = 1 && $TRAVIS_PHP_VERSION = 7.* ]]; then bash <(curl -s https://codecov.io/bash); fi

notifications:
  email: false
